@import "styles/variables";

.headerWrapper {
  position: relative;
  width: 100%;
  border-bottom: 2px solid $borderColor;
  background-color: #fff;
  z-index: 1000;

  @include response(desktop) {
    position: fixed;
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 16px 16px;
  z-index: 100;
  background-color: #fff;
  
  @include response(desktop) {
    flex-direction: row;
    align-items: center;
  }

  .logoWrapper {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 12px;
    @include response(desktop) {
      border: none;
      padding: 0;
    }
  }
  .logoLink {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    @include response(desktop) {
      text-align: left;
    }
  }

  .searchWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    @include response(desktop) {
      flex: 1;
      margin-left: 16px;
      padding: 0;
    }
  }

  .userSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;

    .login {
      transition: all 0.3s;

      .link {
        // font-size: 1.3rem;
        color: $titleTextColor;
        display: flex;
        align-items: center;
        line-height: 2;
      }
      .icon {
        display: flex;
        align-items: center;
        font-size: 2rem;
      }
    }

    .profile > a {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 1.6rem;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
        color: #000;
      }
    }

    .sepreate {
      display: inline-block;
      width: 1px;
      height: 16px;
      margin: 0 8px;
      background-color: $borderColor;
    }
  }
}
