@import "../../styles/variables.scss";

.searchBar {
  width: 70%;
}

.searchField {
  position: relative;
  width: 100%;
}

.searchInput {
  width: 100%;
  background: #fff;
  border: 0;
  height: 45px;
  line-height: 45px;
  padding: 0 80px 0 20px;
  border-radius: 5px;
  outline: 0;
  font-size: 13px;
  transition: all 0.3s;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;

  &:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

.searchBtn {
  position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 0;
    font-size: 2rem;
    color: $primaryColor;
    cursor: pointer;
    width: 50px;
    height: 100%;
    transition: all .3s;
  &:hover {
    color: $titleTextColor;
  }
}
