.slickWrapper {
  width: 420px;
  position: relative;
  margin: 0 auto;
}

.sliderImage {
  width: 100px !important;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #e0e0e2;
  border-radius: 4px;
}
